{% include 'incl/header.twig' %}

<body>
    {% include 'incl/technology-nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
